<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo List Box</title>
</head>

<body>
<form action="#" th:action="@{/addJob}" th:object="${employer}" method="post">
    <label>Tên nhà tuyển dụng</label><br>
    <input type="text" placeholder="Name" th:field="*{name}"><br><br>
    <label>Mô tả công việc</label><br>
    <input type="text" placeholder="Description" th:field="*{desc}"><br><br>
    <label>Mức lương</label><br>
    <input type="text" placeholder="Salary" th:field="*{salary}"><br><br>
    <button type="submit">Submit form</button>
</form>

</body>

</html>

