<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index</title>
</head>
<body>
  <h1>Nhà tuyển dụng</h1>
  <ul>
    <li><a href="/addJob">Thêm nhà tuyển dụng</a></li>
    <li><a href="/list">Danh sách nhà tuyển dụng</a></li>
  </ul>

  <h1>Việc làm</h1>
  <ul>
    <li><a href="/about">Tạo việc làm</a></li>
    <li><a href="/products">Danh sách việc làm</a></li>
  </ul>


  <h1>Ứng viên</h1>
  <ul>
    <li><a href="/about">Thêm ứng viên</a></li>
    <li><a href="/products">Danh sách ứng viên</a></li>
  </ul>
</body>
</html>